.no-gutters {
    margin-right: 0.5em;
    margin-left: 0.5em;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0.3em;
      padding-left: 0.3em;
    }
  }


  .footer {
   /*   border-top:thin solid #E8E7EA;*/
      padding: 1em 0;
  }


  .credittext{
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-size: calc(25% + 0.75vw);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }