.jointext{
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .bluedivider{
    padding-inline: calc(20% - 2vw);
    
  }

  .list{
    margin-left: 6vw;
    margin-right: 3vw;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: calc(65% + 2vw);
  }