
.smolheader{
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 3em;
  }
  .mediumheader{
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 4em;
    line-height: 1.1em;
  }
  .bigheader {
    line-height: 1.1em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 5em;
  }

  .text{
    font-family: "Inter", sans-serif;
  font-size: 1.5em;
  }
  .marginleft{
    margin-left:3em;
  }
  .marginright{
    margin-right:3em;
  }
  .aligncenter{
    text-align: center;
  }
  .button{
    border: none;
    background-color: white;
    color: #9747FF;
    border: 2px solid #9747FF;
    border-radius:2em;
    padding: 1em 2em;
    text-align: center;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    transition-duration: 0.4s;
  }
  
  .button:hover{
    background-color: #9747FF;
    color: white;
  }

  .divider{
    width:150em;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }

  .dividerdiv{
    display: grid;
    height: 100%;
  }

  .purple-bg {
    background-color: #9747FF;
  }